db.sqlite3

# Coisas específicas do usuário
.idea / ** / workspace.xml
.idea / ** / tasks.xml
.idea / ** / use.statistics.xml
.idea / ** / dicionários
.idea / ** / prateleira

# Arquivos gerados
.idea / ** / contentModel.xml

# Arquivos permitidos ou de alta rotatividade
.idea / ** / dataSources /
.idea / ** / dataSources.ids
.idea / ** / dataSources.local.xml
.idea / ** / sqlDataSources.xml
.idea / ** / dynamic.xml
.idea / ** / uiDesigner.xml
.idea / ** / dbnavigator.xml

# Gradle
.idea / ** / gradle.xml
.idea / ** / libraries

# Mongo Explorer plugin
.idea / ** / mongoSettings.xml
