{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all"/>
</head>


<div id="wrapper3">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>Portfolio</h2>
            <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
        </div>
        <div class="column1">
            <div class="box"><a href="#"><img src="images/scr01.jpg" alt="" class="image image-full"/></a>
                <h3>Lorem Ipsum</h3>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                <a href="#" class="button button-small">Etiam posuere</a>
            </div>
        </div>
        <div class="column2">
            <div class="box"><a href="#"><img src="images/scr01.jpg" alt="" class="image image-full"/></a>
                <h3>Lorem Ipsum</h3>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                <a href="#" class="button button-small">Etiam posuere</a>
            </div>
        </div>
        <div class="column3">
            <div class="box"><a href="#"><img src="images/scr01.jpg" alt="" class="image image-full"/></a>
                <h3>Lorem Ipsum</h3>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                <a href="#" class="button button-small">Etiam posuere</a>
            </div>
        </div>
        <div class="column4">
            <div class="box"><a href="#"><img src="images/scr01.jpg" alt="" class="image image-full"/></a>
                <h3>Lorem Ipsum</h3>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                <a href="#" class="button button-small">Etiam posuere</a>
            </div>
        </div>
    </div>
</div>

</html>

{% endblock %}
